@charset "windows-1251";
/* CSS Document */

body {
background-color: #f0f9ff; /* Цвет линии */	
 /* Margin bottom by footer height */
  margin-bottom: 60px;
	
}
.jumbotron {
	background-color: #f0f9ff; /* Цвет линии */	
	padding-top: 51px;

}
.bluebackground{
	background-color: #3894b0;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
 
.button-link {
	background-size: cover;
background-color: transparent;
border: none;
}

.button-link:hover {

text-decoration: underline;
}
#signupform{
	margin-top: 30px;
}
